.hshow{
	position:absolute;
	left:50%;
	margin-left:-595px;
	top:0px;
}
.banner-itemleft{
	overflow:hidden;
	height:407px;
	width:180px;
	text-align:left;
	line-height:30px;
	color:#FFF;
	padding:9px 0px 9px 10px ;
	background:#e6133c url(http://img.iblimg.com/respc-1/resources/v4.0/css/i/navbg-1.png) no-repeat 5px 235px;
	line-height:30px;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:-2px 2px 2px rgba(0, 0, 0, 0.2);
}
.banner-itemleft ul{
	font-size:0px;
}
.banner-itemleft li{
	height:30px;
	padding-left:6px;
	cursor:pointer;
	color:#ffffff;
	font-family:'Microsoft YaHei';
}
.banner-itemleft li i{
	float:left;
	width:16px;
	height:16px;
	margin-top:7px;
	display:inline-block;
	line-height:16px;
	font-size:16px;
	background:url("http://img.iblimg.com/respc-1/resources/v4.0/css/i/nav-v3-icon-1.png") no-repeat;
}
.banner-itemleft li i.jinkou{background-position:0px 0px;}
.banner-itemleft li i.shengxian{background-position:0px -30px;}
.banner-itemleft li i.shipin{background-position:0px -60px;}
.banner-itemleft li i.huli{background-position:0px -90px;}
.banner-itemleft li i.muying{background-position:0px -120px;}
.banner-itemleft li i.jiaju{background-position:0px -150px;}
.banner-itemleft li i.lengdong{background-position:0px -180px;}
.banner-itemleft li i.fuzhuang{background-position:0px -210px;}
.banner-itemleft li i.xiangbao{background-position:0px -240px;}
.banner-itemleft li i.sanc{background-position:0px -270px;}
.banner-itemleft li i.jiadian{background-position:0px -300px;}
.banner-itemleft li i.qiche{background-position:0px -330px;}
.banner-itemleft li i.yiliao{background-position:0px -360px;}
.banner-itemleft li i.cardbook{background-position:0px -390px;}

.banner-itemleft li.on i.jinkou{background-position:-26px 0px;}
.banner-itemleft li.on i.shengxian{background-position:-26px -30px;}
.banner-itemleft li.on i.shipin{background-position:-26px -60px;}
.banner-itemleft li.on i.huli{background-position:-26px -90px;}
.banner-itemleft li.on i.muying{background-position:-26px -120px;}
.banner-itemleft li.on i.jiaju{background-position:-26px -150px;}
.banner-itemleft li.on i.lengdong{background-position:-26px -180px;}
.banner-itemleft li.on i.fuzhuang{background-position:-26px -210px;}
.banner-itemleft li.on i.xiangbao{background-position:-26px -240px;}
.banner-itemleft li.on i.sanc{background-position:-26px -270px;}
.banner-itemleft li.on i.jiadian{background-position:-26px -300px;}
.banner-itemleft li.on i.qiche{background-position:-26px -330px;}
.banner-itemleft li.on i.yiliao{background-position:-26px -360px;}
.banner-itemleft li.on i.cardbook{background-position:-26px -390px;}

.banner-itemleft li span{
	float:left;
	margin-left:10px;
	display:inline-block;
	font-size:13px;
}
.banner-itemleft li span a:link,.banner-itemleft li span a:visited{
	color:#fff;
	text-decoration:none;
}

.banner-itemleft li.on{
	background:#f9f9f9;
	position:relative;
	z-index:6;
}
.banner-itemleft li.on span{
	color:#222222;
}
.banner-itemleft li.on i{
	color:#e6133c;
}
.banner-itemleft li.on span a:link,.banner-itemleft li.on span a:visited{
	color:#222222;
}

.banner-itemleft li.on span a:hover{
	text-decoration:underline;
	color:#e6133c;
}
.left-ul-show{
	position:absolute;
	left:190px;
	top:0px;
	min-height:421px;
	background:#f9f9f9;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.2);
	display:none;
	width:775px;
	border:1px solid #e6133c;
	border-left:0;
	z-index:3;
}
.left-ul-show li{
	width:775px;
	height:423px;
	display:none;
}
.show-left{
	float:left;
	max-width:526px;
	padding:5px;
}
.show-w233 {
	float: left;
	width: 245px;
	margin: 0px 15px 0px 20px;
	display: inline-block;
	overflow: hidden;
}
.show-title{
	font-weight:bold;
	color:#222;
	line-height:38px;
	min-height:38px;
}
.show-title span{
	background:#f9f9f9;
	padding-right:5px;
}
.show-title a:link,.show-title a:visited{
	color:#222;
	text-decoration:none;
}
.show-title a:hover{color:#e6133c; text-decoration:underline;}
.nav-show ul li .show-title a:link,.nav-show ul li .show-title a:visited{
	color:#222;
	text-decoration:none;
}
.show-title a:hover{color:#e6133c; text-decoration:underline;}
.show-font{
	line-height:24px;
	color:#666666;
	padding-bottom:10px;
	margin-left:-9px;
}
.show-font a:link,.show-font a:visited{
	float: left;
	padding: 0 8px;
	margin: 4px 0;
	line-height: 14px;
	height: 14px;
	border-left: 1px solid #ddd;
	white-space: nowrap;
	color:#666;
}
.show-font a:hover{
	color:#e6133c !important;
	text-decoration:underline;
}
.show-font span{
	margin:0px 3px;
}
.show-left-bottom{
	width:496px;
	height:92px;
	background:#ffffff;
	margin:0px auto;
	overflow:hidden;
}
.show-right{
	float:right;
	padding:5px 10px;
	width:170px;
}
.h200{
	margin-top:5px;
	height:200px;
	overflow:hidden;
	width:170px;
}
.h200 img{width:170px; height:200px;}
.show-left-1 {
	float: left;
	max-width: 280px;
	margin-left: 5px;
	margin-top: 5px;
}
.menu-nav-main{ float:left; width:190px; height:30px; background:#c01133; color:#fff; font-family:'Microsoft YaHei'; font-size:14px; font-weight:bold; margin-top:1px;} 
.menu-nav-all i{ width:16px; height:15px; background:url(http://img.iblimg.com/respc-1/resources/v4.0/css/i/v3index_icon.png) no-repeat top center; display:block; float:left; margin:8px 8px 0 16px;}
.gb-icon{width:31px; height:31px; cursor:pointer; position:absolute; right:0px; top:0px; background:url(http://img.iblimg.com/respc-1/resources/v4.0/css/i/header-bg.png) no-repeat; background-position:-31px -205px;}
.gb-icon:hover{
	background-position:-62px -205px;
}
.int-nav{
	line-height:28px;
}
.int-nav ul li{
	height:28px;
	line-height:28px;
}
.int-nav ul li i{
	margin-top:6px;
}
